html {
    position: relative;
    min-height: 100%;
}
body{
    padding-top: 70px;
    margin-bottom: 60px;
}
#mainContent{
    margin-bottom: 100px;
}
#apiUrl{
    width:300px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.active .text-muted{
    color: white;
}
.footer .container-fluid .text-muted {
    margin: 20px 0;
}
pre{
    max-height: 400px
}
pre p{
    font-size: 14px;
    margin: 0;
}
.toggle{
    margin: 8px 10px auto 30px;
}
h1{
    color: #999;
    font-weight: 400;
    text-transform: uppercase;
    margin: 50px auto 30px;
    padding-top: 50px;
    border-top: solid 1px #ddd;
}
h1.first{
    border: none;
    margin: 30px auto;
    padding: 0px;
}
#offerHelp{
    display: none;
}
.list-container{
    max-height: 250px;
    overflow-y: auto;
}
.list-group-item{
    cursor: pointer;
}
.list-group-item:hover{
    background: #eee;
}
.list-group-item.active p{
    display: block;
}
